@import '/src/styles/colors.scss';

.header {
  display: flex;
  gap: 0.625rem;
  justify-content: space-between;
  margin-top: 0.8125rem;
  margin-bottom: 0.625rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  border-radius: 0.5rem;
  padding: 1.25rem 0.75rem;
  border: 1px solid $gray-color-2;
  background: #ffffff;
}

.submitBtn {
  margin-top: 0.625rem;
  margin-left: auto;
  display: block;
}
