@import '/src/styles/colors.scss';

.input {
  background: #ffffff;
  border: 1px solid $gray-color-5;
  border-radius: 0.3125rem;
  padding: 0.3125rem 0.625rem;
  width: 100%;
  max-width: 13.1875rem;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 0.75rem;
  color: #000000;
}

.input:disabled {
  color: rgba(0, 0, 0, 0.3) !important;
}

.input.error {
  border-color: $red-color-1;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.1875rem;
}

.label {
  font-size: 0.5rem;
  line-height: 0.5625rem;
  color: #000000;
}
